<h1>Workshop</h1>

<ul>
<% @todos.each do |todo| %>
    <li>
        <input type="checkbox" name=""/>
        <a href="show/<%= todo.id %>"><%= todo.description %></a>
        <span class="pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
    </li>
<% end %>
</ul>
        
<div id="new-todo-block">
    <a href="/todo/new" class="button" id="add-new-todo-button">Add a todo</a>
</div> 
    