
        <h1>Workshop</h1>
    <ul>
        <li>
            <input type="checkbox">
            <label>  
            <a href="show/1">make the curriculum</a> <%= 100+3 %> pomdoros
            </label>
        </li>
         <li>
            <input type="checkbox">
            <label>  
            <a href="show/2">walk the dog</a> 4 pomdoros
            </label>
            </li>
        
    </ul>
    <a class="button" href="add.html">add</a>
    