
        <h1>Workshop</h1>
    <ul>
        <li>
            <input type="checkbox">
            <label>  
            make the curriculum 4 pomdoros
            </label>
        </li>
         <li>
            <input type="checkbox">
            <label>  
            make the curriculum 4 pomdoros
            </label>
            </li>
        
    </ul>
    <a class="button" href="add.html">add</a>
    