<h2><%=@todo_description %></h2>
<span class="pomodora-estimate large-pomodora-estimate"><%= @todo_pomodora_estimate %>pomodoros</span>

<h3>todo #<%= params[:id] %></h3>
<input type="text">
<input type="submit" value="add">
<input type="date">
<a href="index.html">back</a>